<div class="row">{{>newPost}}</div>
<div class="row">
    <div class="col-5"></div>
    <div class="col-4">
        <h1>Current Blog Posts!</h1>
    </div>
    <div class="col-3"></div>
</div>


<div class="row">
    {{#each data as |blog|}}
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card m-5 shadow-lg" id="blogPost{{blog.id}}" style="width: 40rem;" onclick="handleCardClick(this)">
            <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <p class="card-text">{{blog.content}}</p>
                <span class="card-text">{{blog.creator}}</span>
                <span class="card-text">{{blog.date}}</span>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
    {{/each}}
</div>

<script src="/js/dashboard.js"></script>