<div class="row">{{>newPost}}</div>
<div class="row">
    <div class="col-5"></div>
    <div class="col-4">
        <h1>Current Blog Posts!</h1>
    </div>
    <div class="col-3"></div>
</div>


<div class="row">
    {{#each data as |blog|}}
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card m-5 shadow-lg" id="blogPost{{blog.id}}"
            onclick='handleBlogClick("{{blog.id}}", "{{blog.title}}", "{{blog.content}}")' style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <p class="card-text">{{blog.content}}</p>
                <span class="card-text">{{blog.creator}}</span>
                <span class="card-text">{{blog.date}}</span>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
    {{/each}}
</div>

<!-- Modal -->
<div id="updateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update or Delete</h4>
            </div>
            <div class="modal-body">
                <div id="postID"></div>
                <form>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title">
                    </div>
                    <div class="form-group">
                        <label for="content">Content</label>
                        <input type="textarea" class="form-control" id="content">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" onclick="closeModal()">Close</button>
                <button type="button" class="btn btn-dark" onclick="deletePost()">Delete</button>
                <button type="button" class="btn btn-dark" onclick="updatePost()">Update</button>
            </div>
        </div>

    </div>
</div>

<script src="/js/dashboard.js"></script>